<div class="m-2 p-1 question-box">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div class="m-2 p-1 answer-box">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>
<%= link_to 'Ask a new question', ask_path %>
