<p>Ask your coach anything</p>
<form class="d-flex m-1 p-3" action="/answer">
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
