// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question-box {
  border-left: 5px solid lightgray;
}

.answer-box {
  background-color: salmon;
  border-left: 5px solid lightgray;
}
